.comment {
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin: 5px;
  width: 100%;
}
.deleteContainer {
  display: flex;
  justify-content: flex-end;
}
.delete--button {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}
.delete--button :hover {
  color: #f00;
}
.delete--icon {
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
}
