.post {
  margin: 30px auto;
  min-width: 350px;
  max-width: 440px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: relative;
}
.post:hover {
  box-shadow: 0 0 20px #ccc;
}

.post--writer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post--writer p {
  font-size: 20px;
}
.post--writer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.post--writer a {
  text-decoration: none;
  color: #000;
}

.post--body {
  padding-left: 10px;
}
.post--title {
  font-size: 20px;
}
.post--postText {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.like-share-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-share-comments button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  font-size: 20px;
  /* background-color: red; */
}
.like-share-comments button.active {
  color: blue;
}
.like-share-comments button:hover {
  color: #000;
}
.numberOflikesAndcooments {
  font-size: 14px;
  color: #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post--delete {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  font-size: 20px;
  /* background-color: red; */
  margin: 10px;
}
.post--delete:hover {
  color: #000;
}
